[submodule "ohmyzsh"]
    path = .oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git 
[submodule ".SpaceVim"]
	path = .SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule "/home/bschafer/.tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "/home/bschafer/.config/nvim/pack/minpac/pt/minpac"]
	path = .config/nvim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git	
